.navbar {
				position: flex;
				top: 0;
				width: 100%;
				height: 60px;
				background: #222;
				color: white;
				display: flex;
				align-item: center;
				padding: 0 25px;
				box-sizing: border-box;
				z-index: 1000;
				justify-content: center;
			}
			
			.nav-links {
				list-style: none;
				display: flex;
				gap: 25px;
				margin-right: auto;
			}
			
			.nav-links li a {
				color: #ddd;
				text-decoration: none;
				font-size: 16px;
				transition: 0.3s;
			}
			
			#content{
				padding: 80px 20px;
			}
			
			.logo {
				margin-right: auto;
				color: white;
				padding: 20px;
				font-size: 20px;
				font-weight: bold;
				text-shadow: 0 0 7px purple, 0 0 10px purple, 0 0 21px purple	;
			}
			
			.logo a {
				text-decoration: none;
				color: white;
			}